/* setting the form's width */
mat-form-field {
  width: 300px;
}

.login-form {
  padding: 30px;
}

.responsive-button {
  width: 120px;
}

@media (max-width: 600px) {
  /* increase button size on sm devices */
  .responsive-button {
    width: 80%;
  }
}