<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Start a New Exercise</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center" style="margin-top: 4px;">
        <img src="../../../assets/img/timer.png" alt="" style="width: 64px; height: 64px;">
      </mat-card-subtitle>
      <mat-card-content fxLayoutAlign="center">
        <!-- selection for exercises -->
        <mat-form-field *ngIf="!isLoading && exercises">
          <mat-select placeholder="Select an exercise" ngModel name="exercise" required>
            <!-- looping through available exercises to show options to the user -->
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- loading spinner -->
        <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
        <!-- start exercise button -->
        <button 
          *ngIf="exercises" 
          type="submit" 
          mat-raised-button color="accent" 
          [disabled]="f.invalid"
          class="responsive-button"
        >
          Start
        </button>
        <!-- reload exercises button -->
        <button 
          *ngIf="!exercises" 
          type="button" 
          mat-raised-button 
          color="accent" 
          (click)="fetchExercises()"
          class="responsive-button"
        >
          Load Exercises
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>