/* styling the links */
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

/* sidenav text style */
.nav-caption {
  display: inline-block;
  padding-left: 6px;
}