/* styling the links */
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

/* styling the navigation items */
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}