<div 
  class="welcome" 
  fxLayout="column" 
  fxLayout.gt-md="row" 
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>Stay Active</h1>
    <img src="../../assets/img/healthy.png" alt="staying active" width="128px">
    <p>Stay active by completing 60 second exercises.</p>
  </section>
  <section>
    <h1>Track Your Progress</h1>
    <img src="../../assets/img/challenge.png" alt="track your progress" width="128px">
    <p>Keep track of your past exercise sessions.</p>
  </section>
  <section>
    <h1>From Anywhere</h1>
    <img src="../../assets/img/gym-bag.png" alt="from anywhere" width="128px">
    <p>Get it done from anywhere. No gym required.</p>
  </section>
</div>