<div>
  <mat-card style="text-align: center;">
    <mat-card-title>Welcome to FitMinute</mat-card-title>
  </mat-card>
</div>
<div class="wc-container">
  <mat-card class="welcome-card">
    <mat-card-title>Stay Active</mat-card-title>
    <mat-card-content>Stay active by completing 60 second exercises.</mat-card-content>
    <img src="../../assets/img/healthy.png" alt="staying active" width="128px">
  </mat-card>
  <mat-card class="welcome-card">
    <mat-card-title>Track Your Progress</mat-card-title>
    <mat-card-content>Keep track of your past exercises.</mat-card-content>
    <img src="../../assets/img/challenge.png" alt="track your progress" width="128px">
  </mat-card>
  <mat-card class="welcome-card"> 
    <mat-card-title>From Anywhere</mat-card-title>
    <mat-card-content>Get it done from anywhere, with no gym required.</mat-card-content>
    <img src="../../assets/img/gym-bag.png" alt="from anywhere" width="128px">
  </mat-card>
</div>
